@import "../../App.scss";

.home-contact-wraper {
    background: linear-gradient(270deg, rgba(238, 174, 202, 0.35) 40%, rgba(148, 187, 233, 0.35) 60%);

    .home-contact {
        // background: #fff;
        padding: 4rem 2rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .home-contact-heading {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .hone-contact-subheading {
            font-size: 1.1rem;
            margin-bottom: 2rem;
            color: #333;
        }

        button {
            background-color: $primary-color;
            color: #fff;
            padding: 0.75rem 1.5rem;
            border: none;
            font-weight: 600;
            border-radius: 8px;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}