@import "../../App.scss";

.navbar-wrap {
    background-color: $bg-color;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 28px;

        img {
            height: 45px;
        }

        .navbar-list {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                padding: 15px 24px;
                font-size: 1.125rem;
                color: #111;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}