@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

// _mixins.scss
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Remove default anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

// _variables.scss
$primary-color: #A53DFF;
$secondary-color: #EDD8FF;
$text-color: #132238;
$text-color2: #87909D;
$bg-color: #FFFFFF;
// $bg-color: #e8e8e8;

.container {
  width: 100%;
  max-width: 1280px; // You can adjust this
  margin: 0 auto;
  padding: 0 1rem;
}